<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="dbCon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\KISHAN\source\repos\QuizApp\QuizApp\Quizzy_db.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>